body {
  margin: 0;
}

#container {
  max-width: 960px;
  margin: 0 auto;
}

#container>img {
  display: none;
}

.carousel {
  width: 370px;
  margin: 50px auto;
}

.arrow, .carousel-image {
  display: inline-block;
  vertical-align: top;
}

.arrow {
  width: 25px;
  height: 200px;
}

.right-arrow {
  text-align: right;
}

.arrow img {
  height: 20px;
  margin-top: 90px;
}

.left-arrow img{
  transform: rotate(180deg);
}

.carousel-image {
  background: radial-gradient(#333, #bee);
  width: 300px;
  height: 180px;
  overflow-x: hidden;
  text-align: center;
  border: 1px solid gainsboro;
  padding: 9px;
}

.carousel-image img {
  max-width: 300px;
  height: 180px;
  vertical-align: middle;
}

@media (max-width: 400px) {

  .carousel {
    position:relative;
    height: 230px;
    width: 320px;
  }

  .arrow, .carousel-image {
    position: absolute;
  }

  .arrow {
    height: 30px;
    width: 160px;
  }

  .arrow img {
    margin: 5px 70px 5px 70px;
  }

  .left-arrow {
    bottom: 0;
    left: 0;
  }

  .right-arrow {
    bottom: 0;
    left: 160px;
  }
}
